/*1315799568,176820406*/

.sp_bnqbay{background-image:url(http://static.ak.fbcdn.net/rsrc.php/v1/y1/r/WUGF7ETcWHn.png);background-repeat:no-repeat;display:inline-block;height:14px;width:500px}
.sx_3ac620{width:26px;height:24px;background-position:-0px -392px}
.sx_714f06{width:20px;height:24px;background-position:-0px -430px}
.sx_112779{width:7px;background-position:-493px -392px}
.sx_b42282{width:8px;height:12px;background-position:-386px -422px}
.sx_200f9a{width:7px;background-position:-493px -407px}
.sx_fa6595{width:14px;background-position:-298px -422px}
.sx_177504{width:10px;height:10px;background-position:-428px -422px}
.sx_61141f{width:10px;height:10px;background-position:-417px -422px}
.sx_873335{width:10px;height:10px;background-position:-406px -422px}
.sx_b28503{width:10px;height:10px;background-position:-395px -422px}
.sx_96c706{width:13px;height:8px;background-position:-119px -392px}
.sx_e8aeae{width:11px;background-position:-88px -392px}
.selected .sx_e8aeae{background-position:-77px -392px}
.sx_5f4b32{width:8px;background-position:-289px -422px}
.selected .sx_5f4b32{background-position:-281px -422px}
.sx_c825da{width:12px;background-position:-64px -392px}
.selected .sx_c825da{background-position:-52px -392px}
.sx_f90ca7{width:12px;background-position:-39px -392px}
.selected .sx_f90ca7{background-position:-27px -392px}
.sx_354d75{width:9px;height:12px;background-position:-109px -392px}
.selected .sx_354d75{background-position:-100px -392px}
.sx_95d220{width:5px;height:3px;background-position:-143px -392px}
.sx_8daa41{width:16px;height:16px;background-position:-247px -422px}
.sx_11f1f9{width:8px;background-position:-272px -422px}
.selected .sx_11f1f9{background-position:-264px -422px}
.sx_a39ed7{width:16px;height:16px;background-position:-230px -422px}
.sx_8d2586{width:10px;height:9px;background-position:-27px -407px}
.sx_df28ed{width:11px;height:12px;background-position:-374px -422px}
.sx_54870d{width:8px;height:13px;background-position:-365px -422px}
.sx_22f339{width:9px;height:13px;background-position:-355px -422px}
.sx_2bca06{width:11px;height:13px;background-position:-313px -422px}
.sx_90a67e{width:9px;height:13px;background-position:-345px -422px}
.sx_494db4{width:9px;height:13px;background-position:-335px -422px}
.sx_e11341{width:9px;height:13px;background-position:-325px -422px}
.sx_3265c3{width:9px;height:5px;background-position:-133px -392px}
.sx_9f7851{height:48px;background-position:-0px -343px}
.sx_79258f{height:48px;background-position:-0px -294px}
.sx_989f87{height:48px;background-position:-0px -245px}
.sx_2e10d1{height:48px;background-position:-0px -196px}
.sx_eb320c{height:48px;background-position:-0px -147px}
.sx_e51412{height:48px;background-position:-0px -98px}
.sx_dff5c6{height:48px;background-position:-0px -49px}
.sx_c0c8bb{height:48px;background-position:-0px -0px}

#bootloader_ZiBQp { height: 42px; }