body {
background: #fff;
color: #444444;
font-family: arial,helvetica,verdana;
line-height: 1.6em;
margin: 0;
padding: 0;
}

._page {
width: 1024px;
position: relative;
margin: 0 auto;
padding: 0;
text-align: left;
}

img{
border:none;
}

ul{
padding:0;
margin:0;
}

ul li{
padding:0;
margin:0;
}

/* Header */
#_header {
color: #7B7B7B;
height: 50px;
margin: 0;
padding: 20px 0 0;
position: relative;
}

#_header h1 {
height: 54px;
width: 205px;
left: 0;
position: absolute;
top: 24px;
}

#_header h1 a {
background: url("images/sciweavers.gif") no-repeat scroll 0 0 transparent;
display: block;
width: 205px;
height: 54px;
line-height: 54px;
overflow: hidden;
text-indent: -9999px;
}

/* Top Navigation */
#_header ul.top_links {
position: absolute;
right: 5px;
top: 15px;
float: left;
font:normal 11px verdana;
padding:2px 10px 2px 5px;
z-index: 100;
}

#_header .top_links li {
margin-left: 10px;
padding: 5px;
display: block;
float: left;
}

#_header .top_links a {
float: left;
display: block;
}

#_header .top_links a:link, 
#_header .top_links a:visited {
color: #999;
text-decoration: none;
}

#_header .top_links a:hover {
color: #000;
text-decoration: none;
}

#_header .top_links a:active {
color: #999;
}

/* Top Menu */
.header-menu {
left: 250px;	/* shift left from logo*/
position: absolute;
top: 60px;
z-index: 1000;
font: normal 13px Helvetica;
}

.header-menu, .header-menu ul {
list-style: none outside none;
margin: 0;
padding: 0;
}

.header-menu a {
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;		
color: #000;
display: block;
font-weight: bold;
margin-right: 10px;
padding: 9px 10px;
width: auto;
text-decoration: none;
}

.header-menu a:hover {
background: #FE6D4C;
color: #fff;
cursor: pointer;
text-decoration: none;
}

.header-menu li {
float: left;
margin: 0;
width: auto;
}

.header-menu li ul {
background: #fff;
border: 1px solid #ccc;
border-radius:0 4px 4px 4px;
-moz-border-radius:0 4px 4px 4px;
-webkit-border-radius:0 4px 4px 4px;	
left: -999em;
position: absolute;
width: 15em;
z-index: 1100;
padding:5px 0 5px 10px;
box-shadow:0 0 10px #aaa;
-webkit-box-shadow: 0 0 10px #aaa;
-moz-box-shadow: 0 0 10px #aaa;
}

.header-menu li ul li a{
color: #777;
display: block;
font-weight: normal;
margin-right: 10px;
padding: 7px 10px;
width: 16em;
text-decoration: none;
font:normal 11px verdana;
}

.header-menu li ul li a:hover {
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;		
color: #fff;
display: block;
font-weight: bold;
margin-right: 10px;
padding: 7px 10px;
width: 15em;
text-decoration: none;
}

.header-menu li:hover ul{
left: auto;
}

.header-menu li:hover a.head {
background: #FE6D4C;
border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
-webkit-border-radius:4px 4px 0 0;
color: #fff;
cursor: pointer;
text-decoration: none;
}

.header-menu .userdrop{
color:#45BCD2;
}

/* Search Box */
#search_input_short {
/*background: url("images/search-bg.png") no-repeat scroll 0 0 transparent;*/
/*border: medium none;*/
height: 30px;
width: 125px;
float: left;
padding-left: 10px;
background:#FAFAFA;
border:1px solid #ccc;
border-right:none;
border-radius:4px 0 0 4px;
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;	
font:bold 13px verdana;
}

#search-bar_short{
position: absolute;
top:60px;
right:20px;
float:right;
}

#searchbox_container{
background:#F3F4EE;
padding-top:10px;
padding-bottom:10px;
border-bottom:1px solid #dfdfdf;
border-top:1px solid #dedede;
}

.body_i2theme_backcolor{
/*background:#DFDFDF;*/
/*background:#eaeaea;*/
background:#fafafa;
}

.body_i2theme_content_bkcolor{
background:#fafafa;
}

#search-bar_long{
margin-top:30px;
margin-bottom:10px;
margin-left:300px;
}

#search_input_long {
height: 30px;
width: 350px;
float: left;
padding-left: 10px;
background:#fff;
border:1px solid #ccc;
border-right:none;
border-radius:4px 0 0 4px;
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;	
font:bold 13px verdana;
}

.ml10{
margin-left:10px;
}

/* banner */
.banner-container {
margin-top:45px;
position: relative;
float: left;
width: 900px;
padding: 40px 35px 15px 30px;
border: 10px solid #fff;
background:#eaeaea url(images/gray_noise.png);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
font:normal 17px helvetica;
text-shadow:0 1px 1px #fff;
line-height:1.6em;
color:#444;
}

.banner-container:before,
.banner-container:after {
content: '';
z-index: -1;
position: absolute;
left: 5px;
bottom: 17px;
width: 70%;
max-width: 500px;
height: 55%;
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-webkit-transform: skew(-15deg) rotate(-6deg);
-moz-transform: skew(-15deg) rotate(-6deg);
-ms-transform: skew(-15deg) rotate(-6deg);
-o-transform: skew(-15deg) rotate(-6deg);
transform: skew(-15deg) rotate(-6deg);
}

.banner-container:after {
left: auto;
right: 5px;
-webkit-transform: skew(15deg) rotate(6deg);
-moz-transform: skew(15deg) rotate(6deg);
-ms-transform: skew(15deg) rotate(6deg);
-o-transform: skew(15deg) rotate(6deg);
transform: skew(15deg) rotate(6deg); 
}

/* register */
.register_btn{
font:bold 13px verdana;
color:#ffffff;
background:#ea684e;
text-shadow:none;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
cursor:pointer;
text-decoration: none;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
padding:6px 15px;
}

.register_btn:active{
cursor:pointer;
position:relative;
top:1px;
text-decoration: none;
}

.register_btn:hover{
background:#45BCD2;
text-decoration: none;
}

#register_margin{
margin:10px 0 20px 20px;
}

/* Share */
.symbol{
font:bold 26px tahoma, verdana, Tahoma;
}

.share_btn a{
font:normal 21px tahoma, verdana, Tahoma;
color:#ffffff;
background:#45BCD2;
text-shadow:0px -1px 1px #222222;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
cursor:pointer;
text-decoration: none;
box-shadow:1px 1px 3px #000000;
-moz-box-shadow:1px 1px 3px #000000;
-webkit-box-shadow:1px 1px 3px #000000;
padding:6px 20px 6px 25px;
}

.share_btn a:active{
cursor:pointer;
position:relative;
top:1px;
text-decoration: none;
}

.share_btn a:hover{
background:#ea684e;
text-decoration: none;
}

#share_margin{
float:left; margin-top:20px; margin-left:40px;
}

/* Butterfly */
#fly{
margin-left:10px;
background:url(images/butterfly.png);
width:108px;
height:100px;
}

#butterfly{
float:right; 	
}

/* Slogan */
#slogan{
font:bold 21px verdana;
color:#333;	
float:right;
margin-right:100px;
margin-bottom:20px;
}

#pen{
font:normal 41px helvetica;
}

/* Preprint */
img._sci2explore { background:url(images/preprint_sprite.jpg)  0     0; width: 200px; height: 119px; }
img._sci2fame { background:url(images/preprint_sprite.jpg)    -200px 0; width: 200px; height: 119px; }
img._sci2track { background:url(images/preprint_sprite.jpg)   -400px 0; width: 200px; height: 119px; }
img._sci2claim { background:url(images/preprint_sprite.jpg)   -600px 0; width: 200px; height: 119px; }


/*	Facebook */
.facebook_fan_like { 
display:block; 
margin-right:-800px;
height:200px;
z-index:200;
}

#facebook_fan_like_right { 
position:fixed;
bottom:120px;
right:50%;
}
 
#facebook_fan_like_top { 
position:absolute;
top:80px;
right:50%;
}

/*Twitter Button */
.twitter_div{
padding:0 0 30px 20px;
border-bottom:1px solid #eee;
}

.twitter_btn a {
float: left;
background:url(images/twitter_btn.png) 0 0; width: 61px; height: 20px;
}

.twitter_btn a:hover {
background:url(images/twitter_btn.png) 0 -25px; width: 61px; height: 20px;
}

.twitter_txt a{
float: left;
color: #186487;
cursor: pointer;
font:normal 11px tahoma;
display:block;
padding:3px 0 0px 5px;
text-decoration: none;
}

.twitter_txt a:hover{
text-decoration: underline;
}

/* content */
#content_service_container {
}

.content_service_title {
font: normal 30px Helvetica;
text-align:center;
color:#000;
padding:20px;
}

.one_third {
float: left;
width: 320px;
}

.one_fourth{
float: left;
width: 240px;
}

.srvname{
font: normal 19px Helvetica;    
text-align:left;
color:crimson;	
text-shadow:-1px 1px 1px #fff;
}

.srvname2{
font: normal 19px Helvetica;    
text-align:left;
color:crimson;	
text-shadow:-1px 1px 1px #fff;
}

p.srvdesc{
font: normal 11px verdana;
text-align:left;
padding:0 25px 5px 0;
color:#aaa;
line-height: 1.5em;
}

.mb10{
margin-bottom:30px;
}

/* Image Container */
.image-container {
position: relative;
float: left;
height: 119px;
border: 5px solid #fff;
background:#fff;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
margin-bottom:15px;
}

.image-container:before,
.image-container:after {
content: '';
z-index: -1;
position: absolute;
left: 2px;
bottom: 5px;
width: 900%;
max-width: 170px; /* avoid rotation causing ugly appearance at large container widths */
height: 55%;
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-webkit-transform: skew(-15deg) rotate(-6deg);
-moz-transform: skew(-15deg) rotate(-6deg);
-ms-transform: skew(-15deg) rotate(-6deg);
-o-transform: skew(-15deg) rotate(-6deg);
transform: skew(-15deg) rotate(-6deg); 
}


.image-container:after {
left: auto;
right: 2px;
-webkit-transform: skew(15deg) rotate(6deg);
-moz-transform: skew(15deg) rotate(6deg);
-ms-transform: skew(15deg) rotate(6deg);
-o-transform: skew(15deg) rotate(6deg);
transform: skew(15deg) rotate(6deg); 
}

.image-container:hover{
box-shadow:0 0 15px #333;
-moz-box-shadow:0 0 15px #333;
-webkit-box-shadow:0 0 15px #333;
}

.preprint_width{
width: 200px;
}

.tools_width{
width: 290px;
}

/* clear */
.clear{
clear:both;
display:block;
overflow:hidden;
visibility:hidden;
width:0;
height:0;
}

.clearfix:after{
clear:both;
content:'.';
display:block;
visibility:hidden;
height:0;
}

.clearfix{
display:inline-block;
}

* html .clearfix{
height:1%;
}

.clearfix{
display:block;
}

.hr {
border-bottom: 1px solid #eee;
border-top: 1px solid #fff;
margin-top:5px;
width: 100%;
}

/* footer Top */
.footer_container {
background: url(images/carpet.png) repeat scroll 0 0 #191814;
border-bottom: 1px solid #000000;
border-top: 1px solid #000000;
padding-bottom: 22px;
position: relative;
height:155px;
}

.footer_container .entry{
position:relative;
width:1000px;
margin:0 auto;
padding:20px 0;
}

.footer_container .rounded{
color:#7B7B7B;
background: #191814;	
box-shadow: 0 1px 0 #373731, 0 -1px 0 #0E0D0B;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;		
font:normal 15px Helvetica;
padding:20px;
}

.footer_container .pad{	
margin-right:20px;
}

.footer_container .follow{	
width:900px;
height:40px;
float:left;
}

.footer_container .spread{	
width:420px;
height:100px;
float:left;
}

.footer_container .subscribe{	
width:420px;
height:100px;
float:left;
}

.footer_container .title{	
font:bold 21px Helvetica;
margin-bottom:10px;
}

.subscribe_text{
width:300px;
font:normal 20px arial;
color:#aaa;
padding:8px 12px;
border:1px solid #fff;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;		
margin-right:10px;
}

.subscribe_btn{
font:bold 20px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#ea684e;
border:1px solid #ea684e;
text-shadow:0px -1px 1px #222222;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
padding:9px 12px;
cursor:pointer;
margin:0 auto;
width:70px;
}

.subscribe_btn:active{
cursor:pointer;
position:relative;
top:1px;
}

.subscribe_btn:hover{
background:#45BCD2;
border:1px solid #45BCD2;
color:#fff;
}

.newsletter_success{
float:right;
color:#B9FF9B;
padding-right:20px;
}

.newsletter_error{
float:right;
color:crimson;
padding-right:10px;
}

.tinyDesc{
font:normal 11px arial; 
color:#444;
margin-left:5px;
}

.followus{
float:left; 
margin-left:10px; 
margin-top:5px;
}

.followus.twitter:hover, .followus.facebook:hover{
box-shadow:0 0 10px #EA684E;
-webkit-box-shadow: 0 0 10px #EA684E;
-moz-box-shadow: 0 0 10px #EA684E;
}

/* footer bottom */
.footer {
background: none repeat scroll 0 0 #191814;
border-top: 1px solid #363631;	
}

.footer .entry{
position:relative;
width:1000px;
margin:0 auto;
padding:20px 0;
}

.footer a {
color: #666;
display: block;
padding:2px 0;
text-decoration: none;
font:normal 11px tahoma;
}

.footer a:hover {
color: #FBAB9B;
text-decoration: none;
}

.footer h5 {
font:bold 11px verdana;
color: #bbb;
margin-bottom:5px;
}

.footer .copyright {
font-size: 12px;
text-align: center;
}

.one_fifth{
float: left;
width: 200px;
}

img._i2ocr       { background:url(images/sci2ools_sprite.jpg)  0       0; width: 290px; height: 119px;}
img._i2type     { background:url(images/sci2ools_sprite.jpg) -290px   0; width: 290px; height: 119px;}
img._i2symbol { background:url(images/sci2ools_sprite.jpg) -580px   0; width: 290px; height: 119px;}

img._i2style        { background:url(images/sci2ools_sprite.jpg) 0        -119px; width: 290px; height: 119px;}
img._itex2img      { background:url(images/sci2ools_sprite.jpg) -290px   -119px; width: 290px; height: 119px;}
img._iweb2print  { background:url(images/sci2ools_sprite.jpg) -580px   -119px; width: 290px; height: 119px;}

img._iweb2shot    { background:url(images/sci2ools_sprite.jpg) 0        -238px; width: 290px; height: 119px;}
img._ipdf2split  { background:url(images/sci2ools_sprite.jpg) -290px   -238px; width: 290px; height: 119px;}
img._ipdf2merge  { background:url(images/sci2ools_sprite.jpg) -580px   -238px; width: 290px; height: 119px;}